.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #93c7ee;
  font-family: Arial, sans-serif;
}

.output-section {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #f4f4f4;
}

.output-section h4 {
  font-size: 1.2rem;
}
